@model BanSach.Models.NhanVien

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <h1 class="mt-4">Xóa Nhân Viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa Nhân Viên</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="NhanVien">Về danh sách</a>
        </div>
        <div>
            <h4>Nhân Viên</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Hoten)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hoten)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ngaysinh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ngaysinh)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Diachi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Diachi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Dienthoai)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Dienthoai)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Mail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Taikhoan)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Taikhoan)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Matkhau)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Matkhau)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quyen)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Quyen)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Manv" />
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
            </form>
        </div>
    </div>
</div>
