@model BanSach.Models.PhieuNhap

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h1 class="mt-4">Chi tiết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="PhieuNhap">Về danh sách</a>
        </div>

        <div>
            <h4>Phiếu nhập</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ngaynhap)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ngaynhap)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tongtien)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tongtien)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ManccNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ManccNavigation.Mancc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ManvNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ManvNavigation.Manv)
                </dd>
            </dl>
        </div>
        <div>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Mapn">Sửa</a> |
        </div>
    </div>
</div>
