@model BanSach.Models.ChiTietPn

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <h1 class="mt-4">Xóa Chi Tiết Phiếu Nhập</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa Chi Tiết Phiếu Nhập</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="ChiTietPn">Về danh sách</a>
        </div>
        <div>
            <h4>Chi Tiết Phiếu Nhập</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Soluong)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Soluong)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Dongia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Dongia)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Thanhtien)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Thanhtien)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MapnNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MapnNavigation.Mapn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MasachNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MasachNavigation.Masach)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Mactpn" />
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
            </form>
        </div>
    </div>
 </div>