@model BanSach.Models.ChiTietPn

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h1 class="mt-4">Chi tiết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="ChiTietPn">Về danh sách</a>
        </div>

        <div>
            <h4>Chi tiết phiếu nhập</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Soluong)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Soluong)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Dongia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Dongia)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Thanhtien)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Thanhtien)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MapnNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MapnNavigation.Mapn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MasachNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MasachNavigation.Masach)
                </dd>
            </dl>
        </div>
        <div>
            <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Mactpn">Sửa</a>
        </div>
    </div>
</div>
